/* You can add global styles to this file, and also import other style files */
/* @import "~bootstrap/dist/css/bootstrap.min.css"; */

/* @import '@angular/material/prebuilt-themes/deeppurple-amber.css'; */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
/* @import '@angular/material/prebuilt-themes/pink-bluegrey.css';
@import '@angular/material/prebuilt-themes/purple-green.css'; */
/* You can add global styles to this file, and also import other style files */
form.emp-form{
    background-color: #dbdbdb;
    border-radius: 4px;
    padding: 10px;
}
div.validation-error{
    color: red;
    text-align: center;
}

button:hover,a.btn:hover{
    cursor: pointer;
}